html {
  /*   set the following properties: 
  font-size - this will be the base font size for the site
  font-family - this will be the base font-family for the site
  line-height - base line height, generally should be in the range 1.5-1.8 
  color- primary text color for the site
  background-color - primary background color for the site */
  font-size: 20px;
  font-family: josefin sans, sans-serif;
  line-height: 1.8;
  color: #f6f3f3;
  background-color: #574AFF;
  padding: 2rem;
  margin: 0;
  text-align: center;
  word-spacing: 5px;
}

/* basic responsive image css */
img,
video {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  position: relative;
  align-items: center;
}

.featured-landmark {
  display: block;
  margin: 0 auto;
  background-color: #CC1F70;
  padding: 20px;
  align-content: center;
  font-style: italic;
  border-radius: 20px;
}

.site-title {
  font-size: 40px;
  padding: 10px;
  color: #B2FFB0;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
}

.landmarks-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  margin: 0 auto;
}

.landmark {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #e6e6e6;
  background-color: #FFF7CA;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  font-size: 20px;
  flex-grow: 1;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 15px;
}

h1{
  color: #B2FFB0;
  text-transform: uppercase;
  font-size: 50px;
  margin: auto;
  padding: 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #FFF57E;
  text-transform: uppercase;
  font-size: 40px;
  margin: auto;
  padding: 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: #9737FF;
  text-transform: uppercase;
  font-size: 20px;
  margin: auto;
  padding: 0 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #DFFFFF;
}

a:link {
  position: center;
  color: #FF6600;
  background: white;
  padding: 0px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: .8rem;
  margin: auto;
}

a:hover {
  color: #44DC4D;
  text-decoration: underline;
}

a:visited {
  color: #080808;
}




/* -------------------------
Responsive Video
----------------------------*/

.videoWrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
  clear: both;
}

/* 16:9 aspect ratio wrapper */
.videoWrapper.ratio-16-9 {
  padding-bottom: 56.25%;
  /* 9 รท 16 = .5625 which is 56.25% */
}

/* 4:3 aspect ratio wrapper */
.videoWrapper.ratio-4-3 {
  padding-bottom: 75%;
  /* 3 รท 4 = .75 which is 75% */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}